<header class="bg-zinc-900 flex">
	<div>
		<h1>Protect Your Password</h1>
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, omnis.</p>
		<button> Start Now</button>
	</div>
	<img src="images/fingerprintl.svg" alt="header images" class="w-80" />
</header>
