---
import Layout from '../components/Layout.astro';
import ButtonSubscribe from '../components/ButtonSubscribe';
---

<Layout pageTitle="Home" pageDescription="Home Page">
	<h1>Home page</h1>
	<p>Welcome to my blog</p>

	<ButtonSubscribe client:visible/>
</Layout>
