---
import Card from '../components/card.astro';
---

<h1>Services</h1>
<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam sapiente qui
	eligendi at rem quas saepe, omnis, vitae quisquam dolore enim molestiae esse
	dolorem consequatur.
</p>

<Card />
<Card />
<Card />
<Card />
<Card />
<Card />
<Card />
<Card />
<Card />
<Card />
