---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<h1>About</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore fugiat
		sequi eos harum tenetur quibusdam, consequatur modi rem, officiis error
		consectetur quis eum? Consequatur accusantium beatae tempore magni. Quas,
		alias? Exercitationem amet repellendus sed, vero sint libero quos qui id
		nobis. Velit illo eveniet harum debitis aut accusantium eos quidem nobis
		quas in est dolores iste sed dolorem qui necessitatibus repellat, quia, rem
		minus minima quaerat asperiores! Temporibus, culpa quia explicabo sint
		dignissimos asperiores! Tempora at temporibus ab ratione eos quaerat eum
		similique iusto vel accusamus ducimus placeat dicta a labore consequuntur,
		saepe, harum odio sunt facere soluta. Reprehenderit, impedit?
	</p>
</Layout>
