<div class="card">
	<h2>My card</h2>
	<p>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti
		perferendis unde autem, modi officia voluptatum.
	</p>
</div>

<style>
	.card {
		background-color: #252525;
		border-radius: 0.625rem;
		box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2), 0 1.5625rem 3.125rem 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 0.3125rem;
    margin-bottom: 0.3125rem;
    width: 18.75rem;
	}
</style>
